<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Go</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <div class="card">
        <h1>Hello World</h1>
        <p>Propulsé par Go & CSS3</p>
        
        <button class="mega-rainbow-btn" onclick="alert('Je ne sers vraiment à rien !')">
            Cliquez-moi (inutile)
        </button>
    </div>

</body>
</html>